<html>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Satisfy&family=Send+Flowers&display=swap"
      rel="stylesheet"
    />
    <style>
      body {
        animation: fadein 2.5s ease-in;
        background-color: #ddd;
        font-family: Send Flowers;
        text-align: center;
      }

      @keyframes fadein {
        0% {
          opacity: 0;
        }

        100% {
          opacity: 1;
        }
      }
      h1 {
        font-size: 4em;
        margin-top: 0px;
        /* margin: 50px 50px 0.5em 50px; */
        margin-bottom: 0.25em;
        margin-top: -20px;
      }

      h2 {
        font-family: Send Flowers;
        font-size: 3em;
        margin-top: 0;
        margin-bottom: 0.25em;
      }

      h3 {
        font-family: Send Flowers;
        font-size: 2.5em;
        margin-top: 0;
        margin-bottom: 0.5em;
      }

      #dice-image {
        height: 150px;
        width: auto;
      }

      .smallrose {
        height: 100px;
        width: auto;
      }

      .checkbox {
        border: 6px solid black;
        color: #c00;
        height: 75px;
        width: 75px;
        font-size: 60px;
        margin: 0px 50px;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      .checkbox-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      #checkbox-container {
        display: flex;
        justify-content: center;
        width: 80%;
      }

      #nameinput {
        background: none;
        border: none;
        border-top: 1px solid #ddd;
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
        border-bottom: 5px solid black;
        color: #c00;
        font-family: Satisfy;
        font-size: 2.5em;
        font-weight: 200;
        /* margin-top: 10px; */
        text-align: center;
        width: 80%;
      }

      #nameinput:focus {
        outline: none;
      }

      #nameinput-label {
        font-size: 2em;
        font-weight: 700;
      }

      #guest-selector {
        background: none;
        border: 0;
        color: #c00;
        padding: 10px;
        font-size: 2.5em;
        font-family: Send Flowers;
        font-weight: 700;
        margin-left: 20px;
      }
      #guest-selector:focus {
        outline: none;
      }
      #guestcount-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
      }

      button {
        border: 5px solid black;
        background-color: #fff;
        color: #000;
        cursor: pointer;
        font-size: 2em;
        font-weight: 700;
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 10px;
        width: 100%;
        transition: background-color 0.3s ease-in, color 0.3s ease-in;
      }
      button:hover {
        background-color: #000;
        color: #fff;
      }
    </style>
  </head>
  <body>
    <%= image_tag ("dice.png"), id: "dice-image" %>
    <div style="display: flex; justify-content: center">
      <h1>Are you in?</h1>
    </div>
    <div style="display: flex; justify-content: center">
      <div id="checkbox-container">
        <div class="checkbox-wrapper">
          <div
            class="checkbox"
            id="yescheckbox"
            onclick="selectAttending('yes')"
          ></div>
          <h2>Yes</h2>
        </div>
        <div class="checkbox-wrapper">
          <div
            class="checkbox"
            id="nocheckbox"
            onclick="selectAttending('no')"
          ></div>
          <h2>No</h2>
        </div>
      </div>
    </div>
    <input id="nameinput" /><br />
    <label for="nameinput" id="nameinput-label">Your Name</label>
    <div id="guestcount-container">
      <h3 style="margin-bottom: 0">Attending:</h3>
      <div>
        <select id="guest-selector">
          <option value="1">1</option>
          <option value="2">2</option>
        </select>
      </div>
    </div>
    <span
      style="
        font-size: 18px;
        font-family: Satisfy;
        font-style: italic;
        color: #c00;
      "
      >Tap the number to adjust</span
    >
    <button>RSVP</button>

    <!-- <%= render "form", guest: @guest %> -->
  </body>
</html>
<script>
  const yesCheckbox = document.querySelector("#yescheckbox")
  const noCheckbox = document.querySelector("#nocheckbox")

  function selectAttending(choice) {
    if (choice === "yes") {
      yesCheckbox.innerHTML = "X"
      noCheckbox.innerHTML = ""
    } else {
      yesCheckbox.innerHTML = ""
      noCheckbox.innerHTML = "X"
    }
  }
</script>
